

#banner {
    position: absolute;
    top: 7.8rem;
    width: 100%;
    height: auto;
    .big-banner {
        background-color: #ccc;
        width: 60%;
        height: 20rem;
        border: 1px solid #fff; 
    }
    .small-banner {
        display: flex;
        flex-wrap: wrap;
        background-color: #ccc;
        width: 40%;
        height: 20rem;
        .items {
            width: 50%;
            height: auto;
            border: 1px solid #fff;
        }
    }
}

